/.quarto/
DS_Store
.Rhistory
/.luarc.json
/.quarto/
/*_files
/*_cache
/_freeze
_extensions/
.Rprofile
.Rproj.user
.RData
.Ruserdata
_extensions
renv/
published-202311-delattre-fim.pdf
published-202311-delattre-fim.html
